# global toolings
aws-cli 2.32.31
aws-sam-cli 1.151.0

#eksctl 0.212.0
#kubectl 1.33.3

terraform-ls 0.36.5

nodejs lts

# local tooling versions can be defined as per project bases, and would override the global version
